# Operating system files

# macOS
.DS_Store

# R session files
.Rhistory
.Rapp.history
.RData
.Ruserdata

# RStudio / Positron
.Rproj.user/

# VS Code / Positron
.vscode/

# Quarto / knitr cache
*_files/
*_cache/
.quarto/
**/.quarto/

# Typst / Quarto intermediate files
*.typ
*.knit.md

# Logs
*.log
figures/
reports/figures/
data/~
