# macOS
.DS_Store

# R session files
.Rhistory
.Rapp.history
.RData
.Ruserdata

# RStudio
.Rproj.user/

# Quarto / knitr
*_files/
*_cache/

# generated intermediate files
*.typ
*.knit.md

# logs
*.log
