# Operating system files
# macOS
.DS_Store

# R session files
.Rhistory
.Rapp.history
.RData
.Ruserdata

# RStudio / Positron
.Rproj.user/

# Quarto / knitr cache
*_files/
*_cache/
.quarto/

# Typst / Quarto intermediate files
*.typ
*.knit.md

# Rendered outputs
*.pdf

# Logs
*.log
